awscli==1.7.35
boto==2.38.0
botocore==1.0.0rc1
colorama==0.3.3
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-storages==1.1.8
django-toolbelt==0.0.1
docutils==0.12
gunicorn==19.3.0
jmespath==0.7.1
Pillow==2.8.2
pluggy==0.3.0
psycopg2==2.5.2
py==1.4.29
pyasn1==0.1.8
python-dateutil==2.4.2
rsa==3.1.4
six==1.9.0
static3==0.6.1
tox==2.1.1
virtualenv==13.0.3
wheel==0.24.0
